<h1>Users:</h1>

<% @selectedusers.each do |i| %>
      <h3> <strong><%=h link_to i.username, profile_path(i.username)%></strong>
      
<% end %>


<% for user in @users %>
  <div class="user">
    <p>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post, class: 'sup' %>
      <% end %>
      <%# link_to 'Add Contact', new_contact_path, class: 'button' %>
        </h3>
      <div class="clear"></div>
    </p>
  </div>



<style>
.sup {
color: blue;
}
</style>
