

<h2>Your Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
  <li>
    <%= h link_to friendship.friend.username, profile_path(friendship.friend.username) %>
    <%= link_to "remove", friendship, :method => :delete %>
  </li>
  <% end %>  
</ul>
<br><br><br>