<h1>Users:</h1>

<h4>
<% for user in @users %>
  <div class="user">
    <p>
      <strong><%=h link_to user.username, user_path(user.id)%></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>
</h4>
<br><br><br><br>
<h2>Your Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
  <li>
    <%= h friendship.friend.username %>
    (<%= link_to "remove", friendship, :method => :delete %>)
  </li>
  <% end %>  
</ul>
<br><br><br>