// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: red;
    background: red;
}

h1.profile {
    color: black;
    text-align: center;
}

h2 {
    color: red;
    text-align: center;
}

p {
    color: red;
    text-align: center;
}

#contactdetails {
    text-align: center;
    padding: 20px;
    background: red;
}
.bbb {
    color: white;
}